
#miniPlatformHeader {
  height: 40px;
  background-color: #fff;
  overflow: hidden;
}
#miniPlatformHeader img {
  max-height: 35px;
  width: auto;
}
#miniPlatformHeader h1 {
  display: inline-block;
  line-height: 40px;
  font-size: 16px;
  margin: 0;
  vertical-align: top;
}
#miniPlatformHeader .platform {
  font-size: 32px;
}
@media screen and (max-width: 800px) {

  #miniPlatformHeader  {
    font-size: 10px;
  }

  #miniPlatformHeader h1 {
    font-size: 12px;
  }

}
@media screen and (max-width: 600px) {

  #miniPlatformHeader .platform {
    font-size: 16px;
  }
}