<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Gaps table test - prefilled</title>
        <script type="text/javascript" src="../../../../ext/jquery/2.1/jquery.min.js"></script>
        <script type="text/javascript" src="../../../../ext/jquery-ui/1.10/jquery-ui-1.10.3.custom.min.js"></script>
        <script src="../component.js"></script>
        <link href="../component.css" rel="stylesheet">
        <style>
            html, 
            body {
                font: 14px sans;                
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
            }            
        </style>
    </head>
    <body>
        <div id="table"></div>
        <hr>
        <button id="validate">Validate</button>
        <div id="msg"></div>

        <script type="text/javascript">
            var values = [
                ['', 'static cell 1', '*'],
                ['*', '*', '*'],
                ['*', '*', 'static cell 2']
            ]

            var valid = [
                ['', '', 'ccc1'],
                ['aaa2', 'bbb2', 'ccc2'],
                ['aaa3', 'bbb3', '']
            ]


            var table = GapsTable({
                parent: $('#table'),
                values: values,
                valid: valid
            });


            $('#validate').click(function() {
                var valid = table.validate();
                $('#msg').html(valid ? 'Valid' : 'Mistake');
            });
        </script>
    </body>
</html>
