#database_controls {
    height: 35px;
    overflow: hidden;
}

#database_controls .pull_left {
    float: left;
}

#database_controls .pull_right {
    float: right;
}

.database {
    width: 100%;
    overflow: auto;
}

.database table {
    width: 100%;
    border: 1px solid #999999;
    border-collapse: collapse;
}

.database th,
.database td {
    border: 1px solid #999999;
    border-collapse: collapse;
    padding: 2px;
    text-align: center;
    vertical-align: middle;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 200px;
}

.database td.invalid {
    background: #FFAAAA;
}


.renderer_map canvas {
    margin: 0 auto;
}


/* console renderer */
.console {
    width: auto;
    overflow-x: hidden
}
.console .console_row {
    text-align:left;
}
.console .console_time {
    color:darkgray;
    width: 55px;
    float: left;
    text-align: left;
    overflow: hidden;
}