

#tabsMenu .li {
    background: rgba(155, 177, 27, 0.47);
}


#taskIntro {
    font-weight:normal;
}

img.beaver {
    content:url("../img/jwinf-fox.jpg");
}

* {
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: auto;
}
