

#tabsMenu .li {
    background: rgba(155, 177, 27, 0.47);
    /*background: #f5fbe8;*/
}

#introGrid .playerControls span {
background-color: #8ca405 !important;
}

#taskIntro {
    font-weight:normal;
    color: #333 !important;
}

body {
    color: #333 !important;
    background: #f5fbe8;
}


img.beaver {
  display:none;
}

#popupMessage .message::before {
content: url("../../img/jwinf-fox.png"); " "
}


img.messageArrow { 
  display:none;
}

* {
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: auto;
}


code {
  border: 1px solid black;
  white-space: nowrap;
  padding: 0px 2px;
  margin: 0px 2px;
}


samp::before { 
    content: "„";
}

samp::after { 
    content: "“";
}


/*#tabsMenu {
    margin-top: 0px;
}*/

