body.static-task {
   width: 90%;
   max-width: 1200px;
   font-size: 16px;
   margin-left: auto;
   margin-right: auto;
}
body.static-task h2 {
   color: #af2765;
   padding-bottom: 30px;
   font-weight: bold;
}
body.static-task h3 {
   font-weight: bold;
   font-style: italic;
   margin-left: 10px;
}
body.static-task h4 {
   color: #af2765;
   font-weight: bold;
}
body.static-task p {
   font-size: 16px;
}
body.static-task ol {
   list-style: none;
}
body.static-task li {
   font-size: 16px;
   margin: 10px;
}
div.return-button {
   text-align: center;
}
.bouton, div.return-button button {
   background-color: #af2765;
   height: 50px;
   padding-left: 5px;
   border: 3px solid #af2765;
   border-radius: 10px;
   box-shadow: 0px 5px 5px black;
   text-align: center;
   color: white;
   display: inline-block;

}
.bouton:hover, div.return-button button:hover {
   background-color: #aeaeae;
   border: 3px solid #aeaeae;
}
.bouton p {
   line-height: 45px;
   vertical-align: middle;
}
.b_type1 {
   width: 300px;
   margin: 20px;
   margin-bottom: 30px;
}
.b_type2 {
   width: 150px;
   margin: 10px;
}
.b_type2 p {
   font-size: 1.5em;
   text-align: center;
}
.paragraphe {
   box-shadow: 0px 20px 15px #aeaeae;
   max-width: 1200px;
   margin-right: auto;
   margin-left: auto;
   margin-top: 20px;
   margin-bottom: 40px;
   padding: 20px;
}
.visuel  {
   border: 1px solid #af2765;
   margin: 20px auto;
}
.capture {
   border: 1px solid #af2765;
   max-width: 100%;
   display: inline-block;
   margin: 0 1%;
}
.instructions {
   display: inline-block;
   width: 30%;
   min-width: 300px;
   margin-top: 10px;
}
body.static-task table {
   margin-top: 10px;
   margin-bottom: 10px;
}
td.component-img {
   text-align: center;
   font-size: 16px;
   padding: 10px;
}
.component td {
   font-size: 16px;
   padding: 10px;
}
.controls td {
   padding: 5px;
   text-align: left;
}
td.control-img {
   text-align: center;
}
.objectif {
   background-color: #eeefd1;
   font-size: 18px;
   font-weight: bold;
   margin-top: 20px;
   margin-bottom: 10px;
   margin-left: 20px;
}
.pedagogie {
   background-color: #f6cbde;
   padding: 10px;
   margin-top: 10px;
   margin-bottom: 10px;
}
.programme_SNT {
   background-color: #dbe9f9;
}
.programme_SNT img {
   width: 30px;
   float: left;
   margin-right: 5px;
}
#notions th {
   white-space: nowrap;
   text-align: center;
   width: 4%;
   min-width: 40px;
}
#notions th span {
   writing-mode: vertical-rl;
   display: inline-block;
}
.debat_objectif {
   margin-bottom: 30px;
}
.ressources li {
   margin-bottom: 15px;   
}
.enonce {
   color: #4a90e2;
   padding-left: 10px;
   font-size: 22px;
}
.puce_question {
   background-color: #000000; 
   border-radius: 50%; 
   color: #ffffff; 
   font-size: 20px; 
   font-weight: bold; 
   padding: 1px 6px;
}
.stars img {
   width: 15px;
}
.check {
   text-align: center;
}
.table_component {
   width: 100%;
   margin-bottom : 30px;
}
.table_component td, .table_component th {
   border: 1px solid #aeaeae;
   padding: 4px;
}
.table_component th {
   text-align: center;
}
.table_component thead {
   color: #af2765;
}
.ressource {
   margin: 30px;
}
.titre_ressource {
   font-size : 25px;
   font-weight: bold;
   vertical-align: top;
}
.cartouche {
   width: 30%;
   padding-right: 10px;
   padding-bottom: 10px;
}
.groupe_blocs {
   background-color: #eaeaea;
   padding: 10px;
   margin-top: 10px;
   margin-bottom: 20px;
}
.contenant_bloc {
   position: relative;
   display: inline-block;
}
.description {
   display: none;
   background-color: #ffffff;
   border: 1px solid #af2765;
   padding: 4px;
   width: 200px;
}
.img_bloc img {
   max-width: 200px;
}
.img_bloc:hover+.description {
   display: block;
   position: absolute;
   z-index: 1;
   top: 50px;
   left: 10px;
}
