* {
   -moz-user-select: -moz-none;
   -webkit-user-select: none;
   -o-user-select: none;
   user-select: none;
   -khtml-user-select: none;
}

.touch {
   -ms-touch-action: none;
}

body {
   width: 770px;
   font-family: Arial, sans-serif;
   font-size: 16px;
}

a {
   color: #4D87CE;
   font-weight: bold;
   text-decoration: none;
}

button, input[type="button"] {
   line-height: 1.2;
   font-size: 16px;
}

.selectable, input, textarea {
   -moz-user-select: text;
   -webkit-user-select: auto !important;
   -o-user-select: text;
   -khtml-user-select: text;
   user-select: text;
}

.borders, .borders td {
	border: 1px solid black;
}

.contentCentered {
   text-align: center;
}

#task h1,
.question h1,
#solution {
   display: none;
}

#success,
#error {
   font-weight: bold;
}
#success {
   color: blue;
}
#error {
   color: red;
}

#tabsMenu {
   list-style: none;
   padding: 0;
   width: 100%;
   border-bottom: 2px solid #aaa;
}
#tabsMenu li {
   display: inline-block;
   min-width: 150px;
   margin-right: 10px;
   background: #ddd;
   border: 2px solid #aaa;
   border-bottom: 0;
   text-align: center;
}
#tabsMenu li.lockedLevel {
   background: #666;
}
#tabsMenu li.current {
   margin-bottom: -2px;
   padding-bottom: 2px;
   background: #fff;
}
#tabsMenu li a {
   display: block;
   padding: 8px;
   color: #000;
   text-decoration: none; 
   font-size: 1.1em;
}
#tabsMenu li.lockedLevel a {
   color: #bbb;
}
#tabsMenu li a:focus {
   outline: none;
}
#tabsMenu li:not(.current) a:active {
   background: #c8c8d8;
}
#tabsMenu li.lockedLevel a:active {
   background: #746c66;
}

.starContainer {
   position: relative;
   display: inline-block;
   width: 18px;
   height: 18px;
   vertical-align: middle;
}
.starContainer > span {
   position: absolute;
   left: 0;
}
span.hiddenStar {
   visibility: hidden;
}
span.fullStar {
   z-index: 1;
}

.bestScore {
   float: right; 
}
#bestScore {
   font-weight: bold;
}

.easy, .medium, .hard {
   display: none;
}
