* {
   -moz-user-select: -moz-none;
   -webkit-user-select: none;
   -o-user-select: none;
   user-select: none;
   -khtml-user-select: none;
}

.touch {
   -ms-touch-action: none;
}

body {
   width: 770px;
   font-family: Arial, sans-serif;
   font-size: 16px;
}

a {
   color: #4D87CE;
   font-weight: bold;
   text-decoration: none;
}

button, input[type=button] {
   font-size: 16px;
}

.selectable, input, textarea {
   -moz-user-select: text;
   -webkit-user-select: auto !important;
   -o-user-select: text;
   -khtml-user-select: text;
   user-select: text;
}

.borders, .borders td {
	border: 1px solid black;
}

.contentCentered {
   text-align: center;
}

#task h1,
.question h1,
#solution {
   display: none;
}

#success,
#error {
   font-weight: bold;
}
#success {
   color: blue;
}
#error {
   color: red;
}

#tabsMenu {
   list-style: none;
   padding: 0;
   width: 100%;
   border-bottom: 2px solid #aaa;
}
#tabsMenu li {
   display: inline-block;
   min-width: 150px;
   margin-right: 10px;
   background: #ddd;
   border: 2px solid #aaa;
   border-bottom: 0;
   text-align: center;
}
#tabsMenu li.locked_level {
   background: #666;
}
#tabsMenu li.current {
   margin-bottom: -2px;
   padding-bottom: 2px;
   background: #fff;
}
#tabsMenu li a {
   display: block;
   padding: 4px;
   color: #000;
   text-decoration: none; 
}
#tabsMenu li.locked_level a {
   color: #bbb;
}
#tabsMenu li a:focus {
   outline: none;
}
#tabsMenu li:not(.current) a:active {
   background: #c8c8d8;
}
#tabsMenu li.locked_level a:active {
   background: #7c6862;
}
#tabsMenu.stars li a {
   padding: 8px;
   font-size: 1.1em;
}

.star_container {
   position: relative;
   display: inline-block;
   width: 18px;
   height: 18px;
   vertical-align: middle;
}
.star_container > span {
   position: absolute;
   left: 0;
   visibility: hidden;
}
.locked_level span.special_star,
.useless_level span.special_star,
.open_level span.empty_star,
span.full_star.shown_star {
   visibility: visible;
}
span.full_star {
   z-index: 1;
}

.best_score {
   float: right; 
   text-align: center;
   font-weight: bold;
}

.easy, .medium, .hard {
   display: none;
}
