body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}

#task {
  min-width: 480px;
  min-height: 480px;
}

#choose-view {
  margin-top: 0 !important;
}


/*****************
  LEVEL SELECTOR
*****************/
#tabsContainer {
  display: flex;
  justify-content: center;
}
#tabsMenu {
  flex: 0 0 auto;
  overflow: hidden;
  display: flex;
  background-color: #4a90e2;
  border-radius: 8px 8px 0px 0px;
}
#tabsMenu .li {
  flex: 1 0 0;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}
#tabsMenu .li:not(.current) {
  background-color: rgba(0,0,0,0.2);
}
#tabsMenu .li.current + .li {
  border-radius: 0px 0px 0px 8px;
}
#tabsMenu .li:not(.current) + .li:not(.current) {
  border-left: 1px solid #000;
}
#tabsMenu .li a,
#tabsMenu .li a:hover {
  display: block;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
}
@media screen and (max-width: 480px) {
  #tabsMenu .levelLabel {
    display: inline-block;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
    width: calc(100vw / 3 - 100px);
    vertical-align: middle;
  }
}
#tabsMenu .stars {
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
}


#popupMessage {
   display: none;
}
#popupMessage .container {
   position: relative;
   margin: .5em 0;
   padding: 8px;
}
#popupMessage.floatingMessage {
   position: absolute;
   z-index: 100;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: gray;
   background: rgba(0, 0, 0, .6);
}
#popupMessage.floatingMessage .container {
   min-height: 100px;
   margin: 2%;
   border: 2px solid black;
   background: white;
}
#popupMessage img.beaver {
   position: absolute;
   width: 90px;
   left: 0px;
}
#popupMessage img.messageArrow {
   position: absolute;
   z-index: 1;
   left: 100px;
   top: 16px;
}
#popupMessage .message {
   margin-left: 115px;
   padding: 8px;
   max-width: 500px;
   border: 2px solid black;
   border-radius: 8px;
   text-align: justify;
}
#popupMessage p {
   margin: .5em 0 0;
}
#popupMessage p:first-child {
   margin-top: 0;
}
#popupMessage input {
   margin-top: 1em;
   margin-left: 200px;
}
#popupMessage button {
   margin-top: 1em;
   margin-left: 200px;
   padding: 5px 18px 5px 18px;
   margin-bottom: 0.5em;
}

