* {
   -moz-user-select: -moz-none;
   -webkit-user-select: none;
   -o-user-select: none;
   user-select: none;
   -khtml-user-select: none;
}

.touch {
   -ms-touch-action: none;
}

body {
   width: 770px;
   font-family: Arial, sans-serif;
   font-size: 16px;
}

a {
   color: #4D87CE;
   font-weight: bold;
   text-decoration: none;
}

button, input[type="button"] {
   line-height: 1.2;
   font-size: 16px;
}

.selectable, input, textarea {
   -moz-user-select: text;
   -webkit-user-select: auto !important;
   -o-user-select: text;
   -khtml-user-select: text;
   user-select: text;
}

.borders, .borders td {
	border: 1px solid black;
}

.contentCentered {
   text-align: center;
}

#task {
   padding-bottom: 400px; /* to have some room for the keyboard on android tablets */
}
#task h1,
.question h1,
#solution {
   display: none;
   margin-bottom: 0.4em;
   margin-top: 0.4em;
}
#taskContent {
   text-align: justify;
}

#success,
#error {
   font-weight: bold;
}
#success {
   color: blue;
}
#error {
   color: red;
}

#tabsContainer {
   position: relative;
}
#tabsMenu {
   margin: 0;
   margin-left: 100px;
   padding: 0;
   list-style: none;
   overflow: hidden;
}
#tabsMenu + div {
   position: absolute;
   z-index: -1;
   bottom: 0;
   width: 100%;
   border-bottom: 2px solid #8d9daa;
}
#tabsMenu li {
   float: left;
   min-width: 150px;
   margin-left: 20px;
   margin-right: 10px;
   background: #88BB88; /* #d5e4ef; */
   border: 2px solid #8d9daa;
   border-bottom: 0;
   text-align: center;
   border-top-left-radius: 6px;
   border-top-right-radius: 6px;
}
#tabsMenu li.lockedLevel {
   background: #404040 /* #5a6069; */
}
#tabsMenu li.current {
   padding-bottom: 2px;
   background: white;
}
#tabsMenu li a {
   display: block;
   padding: 8px;
   color: #000;
   text-decoration: none; 
   font-size: 1.1em;
}
#tabsMenu li.lockedLevel a {
   color: #ddd;
}
#tabsMenu li a:focus {
   outline: none;
}
#tabsMenu li:not(.current) a:active {
   background: #c4d3de;
}
#tabsMenu li.lockedLevel a:active {
   background: #6c7787;
}

.starContainer {
   position: relative;
   display: inline-block;
   width: 18px;
   height: 18px;
   vertical-align: middle;
}
h1 .starContainer {
   width: 24px;
   height: 24px;
   vertical-align: top;
}
#answerScore .starContainer {
   width: 20px;
   height: 20px;
}
.starContainer > span {
   position: absolute;
   left: 0;
   top: 0;
}
span.hiddenStar {
   visibility: hidden;
}
span.fullStar {
   z-index: 1;
}

h1 span {
   display: inline-block;
   width: .8em;
   height: .8em;
}

#tabsContainer {
   position: relative;
}
.bestScore {
   position: absolute;
   right: 0;
   top: .3em;
   font-size: 1.2em;
}
#bestScore {
   font-weight: bold;
}

#tabMessage {
   display: none;
}
#tabMessage > div {
   position: relative;
   margin: .5em 0;
   padding: 8px;
}
#tabMessage.floatingMessage {
   position: fixed;
   z-index: 101;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: rgba(0, 0, 0, .5);
}
#tabMessage.floatingMessage > div {
   min-height: 100px;
   max-width: 500px;
   margin: 10% auto;
   border: 2px solid black;
   background: white;
}
#tabMessage > div > img:first-child {
   float: left;
   width: 90px;
}
#tabMessage > div > img + img {
   position: absolute;
   z-index: 1;
   left: 100px;
   top: 16px;
}
#tabMessage > div > div {
   margin-left: 115px;
   padding: 8px;
   max-width: 500px;
   border: 2px solid black;
   border-radius: 8px;
   text-align: justify;
}
#tabMessage button {
   display: block;
   margin-top: 1em;
   margin-left: 200px;
}

.easy, .medium, .hard {
   display: none;
}

#displayHelperAnswering {
   margin-top: 15px;
}
#displayHelper_validate,
#displayHelper_cancel {
   display: inline-block;
}
#displayHelper_validate > [value="Valider"],
#displayHelper_cancel > [value="Recommencer"] {
   margin: 0 10px;
   width: 9em;
}
#displayHelper_saved {
   margin: .6em;
}
