body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #f1f2f7;
}
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
#miniPlatformHeader {
  background-color: transparent !important;
  flex: 0 0 40px;
}
#choose-view {
  margin-top: 0 !important;
}


/*****************
  LEVEL SELECTOR
*****************/
#tabsContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#tabsMenu {
  flex: 1 1 0;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
#tabsMenu a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #4a90e2;
  text-decoration: none;
}
#tabsMenu .stars {
  margin-left: 5px;
}
#tabsMenu .li {
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}
#tabsMenu .li:not(.current) a {
  color: #9b9b9b;
}

@media /* Portrait mobiles */
  screen and (max-width: 600px) and (orientation: portrait) {
  #tabsMenu {
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    margin: 0 10px;
    padding: 4px 0;
    position: relative;
  }
  #tabsMenu::before,
  #tabsMenu::after {
    content: " ";
    position: absolute;
    width: 20px;
    height: 20px;
    background: transparent;
  }
  #tabsMenu::before {
    border-radius: 50% 0;
    box-shadow: 10px 0px 0 #fff;
    bottom: 0;
    left: -20px;
  }
  #tabsMenu::after {
    border-radius: 0 50%;
    box-shadow: -10px 0px 0 #fff;
    bottom: 0;
    right: -20px;
  }
  #tabsMenu .li {
    display: none;
  }
  #tabsMenu .li.current {
    flex: 1 0 0;
    display: block;
  }
  #tabsMenu .li.prev,
  #tabsMenu .li.next {
    flex: 0 1 3em;
    display: block;
    text-align: center;
    cursor: pointer;
  }
  #tabsMenu .li.prev a::before,
  #tabsMenu .li.next a::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 32px;
  }
  #tabsMenu .li.prev a::before {
    content: "\f104";
  }
  #tabsMenu .li.next a::before {
    content: "\f105";
  }
  #tabsMenu .li.prev a span,
  #tabsMenu .li.next a span {
    display: none;
  }
}
@media /* all but portrait mobiles */
    screen and (min-width: 480px) and (orientation: landscape),
    screen and (min-width: 601px) and (orientation: portrait) {
  #tabsMenu a {
    padding: 10px 0;
  }
  #tabsMenu .li {
    padding: 0 20px;
  }
  #tabsMenu .li:not(.current):not(.prev):not(:last-child) {
    border-right-width: 2px;
    border-right-style: solid;
    -webkit-border-image:
      -webkit-linear-gradient(rgba(0,0,0,0.01),rgba(0,0,0,0.1), rgba(0,0,0,0.01)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(rgba(0,0,0,0.01),rgba(0,0,0,0.1), rgba(0,0,0,0.01)) 1 100%;
    -o-border-image:
      -o-linear-gradient(rgba(0,0,0,0.01),rgba(0,0,0,0.1), rgba(0,0,0,0.01)) 1 100%;
    border-image:
      linear-gradient(to bottom, rgba(0,0,0,0.01),rgba(0,0,0,0.1), rgba(0,0,0,0.01)) 1 100%;
  }
  #tabsMenu .li.current {
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    position: relative;
  }
  #tabsMenu .li.current::before,
  #tabsMenu .li.current::after {
    content: " ";
    position: absolute;
    width: 20px;
    height: 20px;
    background: transparent;
  }
  #tabsMenu .li.current::before {
    border-radius: 50% 0;
    box-shadow: 10px 0px 0 #fff;
    bottom: 0;
    left: -20px;
  }
  #tabsMenu .li.current::after {
    border-radius: 0 50%;
    box-shadow: -10px 0px 0 #fff;
    bottom: 0;
    right: -20px;
  }
}
@media /* Tablets and desktop */
  screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait),
  screen and (min-width: 855px) and (orientation: landscape) {
  #tabsMenu .li {
    padding: 0 40px;
  }
}
#popupMessage {
   display: none;
}
#popupMessage .container {
   position: relative;
   margin: .5em 0;
   padding: 8px;
}
#popupMessage.floatingMessage {
   position: absolute;
   z-index: 100;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: gray;
   background: rgba(241, 242, 247, .9);
}
#popupMessage.floatingMessage .container {
   min-height: 100px;
   width: 94%;
   max-width: 1000px;
   margin-left: auto;
   margin-right: auto;
   border-radius: 5px;
   background: #fff;
   color:#787878;
   padding: 20px;
   top: 50%;
   transform: translate(0,-50%);
}
#popupMessage.floatingMessage .container img {
   display: none;
}
#popupMessage .message {
   font-size: 18px;
}
#popupMessage p {
   margin: .5em 0 0;
}
#popupMessage p:first-child {
   margin-top: 0;
}
#popupMessage input {
   margin-top: 1em;
   margin-left: 200px;
}
#popupMessage .buttonsWrapper {
   margin: 2em auto 0;
   text-align: center;
}
#popupMessage button {
   padding: 7px 20px;
   background-color: #4a90e2;
   color: #fff;
   border-radius: 100px;
   border: none;
   box-shadow: none;
   font-weight: bold;
   text-transform: uppercase;
   font-size: 14px;
   cursor: pointer;
}
#popupMessage button.buttonYes::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}
.pythonIntroSimple code, .pythonIntroFull code {
  cursor: pointer;
  color: #4D87CE;
}
