@font-face {
  font-family: 'Titillium Web';
  src: url('../../fonts/titilliumweb-light.woff2') format('woff2'),
       url('../../fonts/titilliumweb-light.woff') format('woff'),
       url('../../fonts/titilliumweb-light.ttf') format('truetype');
  font-weight: 100;
}
@font-face {
  font-family: 'Titillium Web';
  src: url('../../fonts/titilliumweb-regular.woff2') format('woff2'),
       url('../../fonts/titilliumweb-regular.woff') format('woff'),
       url('../../fonts/titilliumweb-regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Titillium Web';
  src: url('../../fonts/titilliumweb-bold.woff2') format('woff2'),
       url('../../fonts/titilliumweb-bold.woff') format('woff'),
       url('../../fonts/titilliumweb-bold.ttf') format('truetype');
  font-weight: bold;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-size: 12px;
  position: relative;
  overflow-x: hidden;
  font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
  color: #9b9b9b;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 14px;
  }
}
body.blockly > *,
body > * {
  width: auto;
}
* {
  box-sizing: border-box;
}

.interfaceToggled {
  display: none !important;
}

/*****************
  EDITOR MENU
*****************/
#openEditorMenu {
  position: relative;
  background-color: #4a4a4a;
  padding: 8px 13px;
  border-radius: 5px 0 0 5px;
  color: #fff;
  cursor: pointer;
  order: 1;
}
@media screen and (orientation: landscape) { /* horizontal screen layout */
  #openEditorMenu {
    align-self: flex-end;
  }
}
@media screen and (min-width: 1024px) {
  #openEditorMenu {
    align-self: end;
  }
}
#openEditorMenu::before,
#openEditorMenu::after {
  content: " ";
  position: absolute;
  right: 0;
  width: 10px;
  height: 10px;
  background: transparent;
}
#openEditorMenu::before {
  top: -10px;
  border-radius: 50% 0;
  box-shadow: 0px 5px 0 #4a4a4a;
}
#openEditorMenu::after {
  bottom: -10px;
  border-radius: 0 50%;
  box-shadow: 0px -5px 0 #4a4a4a;
}
#editorMenu {
  height: 100%;
  position: absolute;
  right: -50%;
  width: 50%;
  top: 0;
  box-shadow: 2px 0 0 #000 inset;
  background-color: #4a4a4a;
  color: #FFF;
  z-index: 99;
}
#editorMenu .editorMenuHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px 20px;
  z-index: 1;
  text-transform: uppercase;
  font-weight: bold;
}

@media /* Tablets and desktop */
  screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait),
  screen and (min-width: 855px) and (orientation: landscape) {
  #editorMenu {
    width: 250px;
    right: -250px;
  }
  #editorMenu .editorMenuHeader {
    position: static;
  }
}
#editorMenu #closeEditorMenu {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
#editorMenu #closeEditorMenu:hover {
  color:#4a90e2;
}
#editorMenu .editorActions {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: uppercase;
}
#editorMenu .editorActions div {
  flex: 1 1 0;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid #5c5c5c;
  cursor: pointer;
  text-align: center;
}
@media /* Tablets and desktop */
  screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait),
  screen and (min-width: 855px) and (orientation: landscape) {
  #editorMenu .editorActions {
    height: auto;
  }
  #editorMenu .editorActions div {
    flex: 1 1 auto;
  }
}
#editorMenu .editorActions div:first-child {
  border-top-width: 0;
}
#editorMenu .editorActions div:hover {
  color:#4a90e2;
}
#editorMenu .editorActions div span.fas,
#editorMenu .editorActions div span.far {
  font-size: 32px;
}
@media /* Landscape mobiles */
  screen and (min-width: 480px) and (max-width: 854px) and (orientation: landscape) {
  #editorMenu .editorActions {
    flex-direction: row;
    flex-wrap: wrap;
  }
  #editorMenu .editorActions div {
    flex: 1 1 50%;
    padding: 20px 0;
    font-size: 10px;
    border-right: 1px solid #5c5c5c;
    border-bottom: 1px solid #5c5c5c;
    margin-bottom: -1px;
  }
  #editorMenu .editorActions div:first-child {
    border-top-width: 1px;
  }
}
#editorMenu #saveUrl {
  display: none;
}
#editorMenu input[type=file] {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  opacity: 0;
  -moz-opacity: 0;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

/************************
  LAYOUT & GENERIC ELEMENTS
*************************/
h2.sectionTitle {
  font-size: 22px;
  font-weight: 100;
  color: #4a90e2;
  margin: 0;
}
h2.sectionTitle .icon {
  color: #fff;
  background-color: #4a90e2;
  border-radius: 50%;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-size: 14px;
  vertical-align: text-bottom;
  margin-right: 10px;
}

#task {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100vh;
  width: 100vw;

}
#taskContent {
  flex: 2 0 0;
  position: static !important;
  display: flex;
  justify-content: stretch;
}
#introGrid {
  display: flex;
  flex: 1 1 40%;
}
#taskIntro {
  padding: 10px 20px;
  overflow: auto;
}
#gridContainer {
  background-color: #fff;
  flex: 1 0 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (orientation: portrait) and (max-width: 480px) { /* Low res display */
  .mode-player .blocklyToolboxDiv, .mode-player .blocklyFlyout, .mode-player .blocklyTrash {
    display: none !important;
  }
}

@media /* Mobiles */
  screen and (max-width: 767px) and (orientation: portrait),
  screen and (min-width: 480px) and (max-width: 854px) and (orientation: landscape) {
  .mode-player #taskContent {
    flex-direction: column;
  }
  .mode-player #introGrid {
    flex: 1 0 40%;
  }
  .mode-instructions #introGrid {
    flex-direction: column;
    width: 100%;
  }
  .mode-instructions #taskIntro {
    order: 2;
    flex: 1 1 auto;
  }
  .mode-player #taskIntro,
  .mode-instructions #blocklyLibContent,
  .mode-editor #introGrid {
    display: none;
  }
  .mode-player .blocklyToolboxDiv,
  .mode-player .blocklyFlyout,
  .mode-player .blocklyTrash,
  .mode-player #editorBar {
    display: none !important;
  }
}

@media /* Landscape mobiles */
  screen and (min-width: 480px) and (max-width: 854px) and (orientation: landscape) {

  #taskContent {
    background-color: #fff;
  }
  .mode-player #taskContent {
    flex-direction: row;
  }
  .mode-player #introGrid {
    min-width: 0;
    flex: 0 0 50%;
    flex-direction: column;
    justify-content: space-between;
  }
  .mode-instructions #introGrid {
    flex-direction: row;
  }
  #taskIntro {
    background-color: #f1f2f7;
    padding: 15px;
    overflow: auto;
    border-radius: 5px 5px 0 0;
    margin: 10px 10px 0 10px;
  }
  #gridContainer #gridButtonsAfter {
    padding-bottom: 5px;
  }
  .mode-instructions #introGrid {
    flex: 1 0 40%;
  }
  .mode-instructions #gridContainer {
    min-width: 0;
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .mode-player #blocklyLibContent {
    flex: 0 0 60%;
    min-width: 0;
    margin: 10px 10px 0 10px;
  }
}

@media /* Tablets portrait */
  screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

  #taskContent {
    flex-direction: column;
  }
  #introGrid {
    position: relative;
    margin-bottom: 10px;
    flex: 1 0 auto;

  }
  #introGrid .speedControls {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 40%; /* Must be the same width as the task intro */
    padding-top: 10px;
    border-top: 3px solid #fff;
    display: flex;
    justify-content: space-evenly;
    background-color: #f1f2f7;
    box-shadow: 0 1px 0 0px #ccc inset;
  }
  #taskIntro {
    flex: 1 1 40%;
    background-color: #fff;
    padding-bottom: 50px;
  }
  #gridContainer {
    flex: 1 0 60%;
    min-width: 0;
  }
}
@media /* Tablets landscape and desktop */
  screen and (min-width: 855px) and (orientation: landscape) {
  #introGrid {
    flex-direction: column;
    max-width: 40%;
  }
  #taskIntro {
    background-color: #fff;
    flex: 1 0 auto;
    max-height: 33%;
  }
  #gridContainer {
    background-color: transparent;
    flex: 0 1 100%;
  }
  #gridContainer #grid {
    background-color: #fff;
    flex: 1 1 auto;
  }
}

/*****************
  TASK GRID & TESTS
*****************/
#grid {
    overflow-x: auto;
    max-width: 100%;
    flex-grow: 1;
    z-index: 2;
    padding: 6px;
    text-align: center;
}
#testSelector {
    padding-left: 10px;
}
.testResult {
    margin-left: 10px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 50px;
    color: #FFFFFF;
    width: 250px;
    font-size: 12px;
    font-weight: 500;
}
.testResult.testSuccess {
    background-color: green;
}
.testResult.testPartial {
    background-color: orange;
}
.testResult.testFailure {
    background-color: red;
}
.testResult.testEvaluating {
    background-color: purple;
}
.testResultIcon {
  display: inline-block;
  width: 21px;
  height: 21px;
  line-height: 21px;
}
.testResultIcon.testSuccess span {
  background: #b8e986;
  border-radius: 100%;
  color: #fff;
}
.testResultIcon.testPartial,
.testResultIcon.testFailure {
  color: #ff001f;
}
#gridContainer #gridButtonsAfter {
  background-color: #f1f2f7;
}
#gridButtonsAfter #testSelector {
  padding: 0;
}
#testSelector .tabs {
  display: flex;
  line-height: 24px;
  text-align: center;
}
#testSelector .tabs .testTab {
  flex: 1 0 auto;
  cursor: pointer;
  padding: 2px;
  text-transform: uppercase;
  position: relative;
}
#testSelector .testTab.currentTest {
  box-shadow: 0 1px 0 0px #ccc;
  color: #4a90e2;
  border-radius: 0 0 10px 10px;
  background-color: #fff;
  z-index: 1;
}
#testSelector .testTab.currentTest::before,
#testSelector .testTab.currentTest:not(:last-child)::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  background: transparent;
}
#testSelector .testTab.currentTest::before {
  top: -3px;
  border-radius: 0 70%;
  box-shadow: 0px 1px 0 #ccc inset;
  left: -10px;
  z-index: 1;
  border-top: 3px solid #fff;
  border-right: 6px solid #fff;
}
#testSelector .testTab.currentTest::after {
  top: -3px;
  border-radius: 70% 0;
  box-shadow: 0px 1px 0 #ccc inset;
  right: -10px;
  z-index: 1;
  border-top: 3px solid #fff;
  border-left: 6px solid #fff;
}
#testSelector .tabs .testTab:not(.currentTest) {
  box-shadow: 0 1px 0 0px #ccc inset;
  color: #ababac;
}
@media /* Tablets and desktop */
  screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait),
  screen and (min-width: 855px) and (orientation: landscape) {
  #testSelector .tabs .testTab {
    line-height: 36px;
  }
}

/*****************
  PLAYER CONTROLS
*****************/
.playerControls {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 10px;
  vertical-align: bottom;
  background-color: rgba(0,0,0,0.3);
  box-shadow:inset 0 1px 0 0 rgba(0,0,0,0.50);
  border-radius:15px;
}
.speedControls {
  position: relative;
  flex-shrink: 0;
}
.speedControls .icon span {
  padding: 5px 10px;
}
@media screen and (max-width: 480px) { /* Portrait mobiles and low res display */
  /* toggle player controls and tab icon, and speed slider visibility */

  #mode-player.displaySpeedSlider .playerControls,
  #mode-player.displaySpeedSlider > span.far,
  #mode-player.displaySpeedSlider > span.fas {
    display: none;
  }
  #mode-player:not(.displaySpeedSlider) .speedSlider {
    display: none;
  }
}
@media screen and (min-width: 481px) {
  .icon.displaySpeedSlider,
  .icon.hideSpeedSlider {
    display: none;
  }
}

/*****************
  SPEED CONTROLS
*****************/
#introGrid .speedControls {
  display: none;
}
#taskToolbar .mode:not(.active) .speedControls {
  display: none;
}
#taskToolbar .mode .speedControls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -4px;
  margin-bottom: -4px;
}
.speedSlider {
  background-color: rgba(0,0,0,0.3);
  box-shadow:inset 0 1px 0 0 rgba(0,0,0,0.50);
  border-radius:15px;
  display: flex;
}
.speedCursor {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 100px;
  margin-top: 6px;
}
/* Chrome */
.speedCursor::-webkit-slider-runnable-track {
  background-color: rgba(0,0,0,0.3);
  width: 100px;
  height: 5px;
  border-radius: 5px;
  margin-top: -6px;
}
.speedCursor::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 28px;
  border-radius: 100px;
  background-color: #4a90e2;
  margin-top: -7px;
  cursor: ew-resize;
}
.speedCursor:focus {
  outline: none;
}
.speedCursor:focus::-webkit-slider-runnable-track {
  background-color: rgba(0,0,0,0.3);
}
/* Firefox */
.speedCursor::-moz-range-track {
  height: 5px;
  background-color: rgba(0,0,0,0.3);
  border: none;
  border-radius: 5px;
}
.speedCursor::-moz-range-thumb {
  border: none;
  height: 20px;
  width: 28px;
  border-radius: 100px;
  background-color: #4a90e2;
  cursor: ew-resize;
}
/* Edge / IE10+ */
.speedCursor::-ms-track {
  width: 100px;
  height: 5px;
  background: transparent;
  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;
  /*remove default tick marks*/
  color: transparent;
}
.speedCursor::-ms-fill-lower {
  background: #f5a623;
  border-radius: 5px;
}
.speedCursor::-ms-fill-upper {
  background: rgba(0,0,0,0.3);
  border-radius: 5px;
}
.speedCursor::-ms-thumb {
  border: none;
  height: 20px;
  width: 28px;
  border-radius: 100px;
  background: #4a90e2;
  cursor: ew-resize;
}
.speedCursor:focus::-ms-fill-lower {
  background: #f5a623;
}
.speedCursor:focus::-ms-fill-upper {
  background: rgba(0,0,0,0.3);
}

#introGrid .speedControls {
  justify-content: space-around;
  padding: 10px;
}
#introGrid .playerControls,
#introGrid .speedSlider {
  display: inline-flex;
  justify-content: space-around;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  width: 100%;
  margin: 0;
}
#introGrid .playerControls .icon {
  margin-right: 5px;
}
#introGrid .playerControls .icon span {
  padding: 0;
  border-radius: 50%;
  line-height: 30px;
  width: 30px;
  text-align: center;
}
#introGrid .playerControls .icon:not(.playPause) span {
  color: #fff;
  background-color: #4a90e2;
  font-size: 16px;
}
#introGrid .playerControls .icon.playPause span {
  color: #4a90e2;
  background-color: #fff;
  font-size: 40px;
  width: 40px;
  vertical-align: middle;
}
#introGrid .speedSlider {
  background-color: rgba(0,0,0,0.10);
  box-shadow: 1px 1px 0 0 rgba(0,0,0,0.10) inset ;
  border-radius: 5px;
  font-size: 18px;
  color: #4a4a4a;
}

@media /* Tablets and desktop */
  screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait),
  screen and (min-width: 855px) and (orientation: landscape) {
  #introGrid .speedControls {
    display: flex;
  }
}
@media /* Tablets portrait */
  screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .speedControls {
    display: flex;
    justify-content: space-around;
    padding: 0 10px;
  }
}

/*****************
  CODE EDITOR
*****************/
body.fullscreen #miniPlatformHeader,
body.fullscreen #tabsContainer,
body.fullscreen #introGrid,
body.fullscreen #taskToolbar {
  display: none;
}
#blocklyContainer {
  position: relative;
}
#blocklyLibContent {
  width: 100%;
  flex: 1 0 60%;
}
@media /* Tablets and desktop */
  screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait),
  screen and (min-width: 855px) and (orientation: landscape) {
  #blocklyLibContent {
    width: auto;
    flex: 1 0 60%;
    min-width: 0;
    background: #fff;
    padding-top: 10px;
  }
}
#blocklyDiv {
    width: 100%;
    height: 100%;
}
#blocklyLibContent {
  position: relative;
}

/* Editor Bar */
#editorBar .buttons button {
  cursor: pointer;
}
.buttons button > span {
  min-width: 12px;
}
@media /* Portrait mobiles */
  screen and (max-width: 767px) and (orientation: portrait) {
    #editorBar {
      height: 30px;
      background-color: #fff;
      display: flex;
      justify-content: space-between;
    }
    #capacity {
      flex-grow: 1;
    }
    #editorBar .displayHelpBtn {
      display: none;
    }
    #editorBar #fullscreenButton {
      border: 0;
      background-color: transparent;
      box-shadow: none;
      line-height: 30px;
    }
}
@media /* landscape mobiles, tablets and desktop */
  screen and (min-width: 480px) and (max-width: 854px) and (orientation: landscape),
  screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait),
  screen and (min-width: 855px) and (orientation: landscape) {
  #editorBar {
    position: absolute;
    top: 10px;
    right: 0;
    padding-top: 10px;
    z-index: 1;
    display: flex;
    align-items: flex-start;
  }
  #capacity {
    padding-right: 10px;
  }
  #editorBar #fullscreenButton,
  #editorBar .displayHelpBtn {
    position: relative;
    display: block;
    font-size: 14px;
    padding: 8px 12px;
    flex-grow: 0;
    color: #fff;
    background: #4a90e2;
    border: 0;
    box-shadow: none;
    border-radius: 5px 0 0 5px;
    outline: 0;
  }
  #editorBar #fullscreenButton {
    margin-bottom: 10px;
  }
}
@media /* Landscape mobiles */
  screen and (min-width: 480px) and (max-width: 854px) and (orientation: landscape) {
  #editorBar .displayHelpBtn {
    display: none;
  }
}
#capacity {
  line-height: 30px;
  color: #787878;
  text-align: center;
}
.capacityRed {
  background-color: #E77471;
  color: black;
}

.scaleDrawingControl {
  display: none;
}
#testCaseName {
  padding-left: 20px;
  padding-right: 20px;
}
#messages {
  padding-top:10px;
    min-height: 28px;
}
#errors .testError {
  color: red;
}
.blocklyToolboxDiv {
    background-color: #ddd !important;
}

.blocklyFlyoutBackground {
    fill-opacity: 1 !important;
}
.blocklyDropDownDiv {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    display: none;
    border: 1px solid;
    border-radius: 4px;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, .3);
    padding: 4px;
    -webkit-user-select: none;
}
.blocklyDropDownContent {
    max-height: 300px;
    overflow: auto;
}
.blocklyDropDownArrow {
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    z-index: -1;
    background-color: inherit;
    border-color: inherit;
}
.blocklyDropDownButton {
    display: inline-block;
    float: left;
    padding: 0;
    margin: 4px;
    border-radius: 4px;
    outline: none;
    border: 1px solid;
    transition: box-shadow .1s;
    cursor: pointer;
}
.blocklyDropDownButtonHover {
    box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.1);
}
.blocklyDropDownButton:active {
    box-shadow: 0px 0px 0px 6px rgba(0,0,0,0.1);
}
.blocklyDropDownButton > img {
    width: 80%;
    height: 80%;
    margin-top: 5%
}
.blocklyDropDownPlaceholder {
    display: inline-block;
    float: left;
    padding: 0;
    margin: 4px;
}
.arrowTop {
    border-top: 1px solid;
    border-left: 1px solid;
    border-top-left-radius: 4px;
    border-color: inherit;
}
.arrowBottom {
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-bottom-right-radius: 4px;
    border-color: inherit;
}
.valueReportBox {
    min-width: 50px;
    max-width: 300px;
    max-height: 200px;
    overflow: auto;
    word-wrap: break-word;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: .8em;
}
.aceHighlight {
   position: absolute;
   background: rgba(100, 100, 200, 0.5);
   z-index: 20;
}

/*****************
  TASK TOOLBAR
*****************/
#taskToolbar {
  flex: 0 0 auto;
  z-index: 1;
  position: relative;
}
@media /* Tablets and desktop */
  screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait),
  screen and (min-width: 855px) and (orientation: landscape) {
/* Hide task toolbar for tablets and desktop,
  but keep element as it is used to calculate other elements position in JS */
  #taskToolbar {
    visibility: hidden;
    overflow: hidden;
    height: 0;
    flex: 0 0 0;
  }
}
#taskToolbar::after {
  content: " ";
  position: absolute;
  top: 0;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.8) inset;
  height: 2px;
}
#taskToolbar .fas,
#taskToolbar .far {
  font-size: 18px;
}
#modeSelector {
  display: flex;
}
#modeSelector .mode {
  flex: 0 1 51px;
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #4a4a4a;
  color: #fff;
  position: relative;
}
#modeSelector .mode#mode-editor {
  justify-content: space-between;
}
#modeSelector .mode:not(.active) {
  justify-content: center;
}
#modeSelector .mode.active {
  background: #4a90e2;
  flex: 2 0 auto;
}
#modeSelector .mode.active::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 16px;
  border: 5px solid transparent;
  border-top-color: #f1f2f7;
  z-index: 1;
}
#modeSelector .mode:not(.active) + .mode:not(.active) {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 1px 0px 0px 0px #000 inset;
}
#modeSelector .displayHelpBtn {
  background-color: rgba(0,0,0,0.3);
  border-radius: 50%;
  padding: 6px 9px;
  font-size: 13px;
  margin-top: -4px;
  margin-bottom: -3px;
  color: #fff;
  border: 0;
}
#modeSelector .mode:not(.active) .displayHelpBtn {
  display: none;
}
#modeSelector .displayHelpBtn .fas {
  font-size: 13px;
}
#modeSelector .mode .label {
  text-transform: uppercase;
  margin-left: 10px;
  font-weight: bold;
}
#modeSelector .mode:not(.active) .label {
  display: none;
}

/************************
  DISPLAY HELPER ELEMENTS
*************************/
#displayHelperAnswering {
  display: none;
}

/************************
  DISPLAY ERROR MESSAGES
*************************/
.errorMessage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f5a623;
  color: #fff;
  font-weight: bold;
  z-index: 1;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px 0px 0 2px #fff;
}
.errorMessage .messageWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.errorMessage .messageWrapper .icon {
  width: 28px;
  margin: 0 10px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  background-color: rgba(0,0,0,0.20);
  border-radius: 50%;
}
.errorMessage .messageWrapper .message {
  flex: 1 1 auto;
  margin: 0;
}
.errorMessage .btn {
  position: absolute;
  top: 4px;
  right: 4px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: rgba(0,0,0,0.20);
}
.errorMessage .btn span {
  font-size: 16px;
}
.modalWrapper {
  display: none;
  z-index: 1000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #777;
  background-color: rgba(0,0,0,0.7);
  transition: all 250ms;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalWrapper .modal {
  width: 800px;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 20px;
  position: relative;
}
.modalWrapper .modalError {
  background: #fdd;
  border: 1px solid #caa;
  color: #600;
}
.modalWrapper .modal>.btn.close {
  font-size: 24px;
  font-weight: bold;
  line-height: 1em;
  color: #a7a6a6;
  position: absolute;
  top: 0px;
  right: 0px;
  border: none;
  background: none;
  cursor: pointer;
}

/************************
  INTRODUCTION
*************************/
#taskIntro,
#taskIntroLong {
  color: #787878;
  font-weight: bold;
  font-size: 16px;
}
#taskIntro h2.sectionTitle,
#taskIntroLong h2.sectionTitle {
  font-size: 22px;
  font-weight: 100;
  color: #4a90e2;
}
#taskIntro .shortIntroTitle {
  display: none;
}
button.showLongIntro {
  color: #4a90e2;
  border: 1px solid #4a90e2;
  border-radius: 50px;
  box-shadow: none;
  padding: 8px 15px 8px 40px;
  position: relative;
  cursor: pointer;
  display: none;
  background: #fff;
  float: right;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  display: none;
}
button.showLongIntro .icon {
  position: absolute;
  left: 15px;
  top: 10px;
}
@media screen and (min-width: 1024px) {
  #taskIntro .longIntroTitle,
  #taskIntro .long {
    display: none;
  }
  #taskIntro .shortIntroTitle,
  button.showLongIntro {
    display: block;
  }

}
#taskIntroLong {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  z-index: 2;
}
#taskIntroLong.displayIntroLong {
  display: block !important;
}
.panel-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 15px 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.panel-heading .exit {
  cursor: pointer;
  font-size: 18px;
  color: #4a90e2;
  border: 0;
  background-color: transparent;
  box-shadow: none;
}

/************************
  MODAL POPUPS
*************************/
#conceptViewer .exit {
  cursor: pointer;
}
