@font-face {
  font-family: 'Titillium Web';
  src: url('../../fonts/titilliumweb-light.woff2') format('woff2'),
       url('../../fonts/titilliumweb-light.woff') format('woff'),
       url('../../fonts/titilliumweb-light.ttf') format('truetype');
  font-weight: 100;
}
@font-face {
  font-family: 'Titillium Web';
  src: url('../../fonts/titilliumweb-regular.woff2') format('woff2'),
       url('../../fonts/titilliumweb-regular.woff') format('woff'),
       url('../../fonts/titilliumweb-regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Titillium Web';
  src: url('../../fonts/titilliumweb-bold.woff2') format('woff2'),
       url('../../fonts/titilliumweb-bold.woff') format('woff'),
       url('../../fonts/titilliumweb-bold.ttf') format('truetype');
  font-weight: bold;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-size: 12px;
  position: relative;
  overflow-x: hidden;
  font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
}
body.blockly > *,
body > * {
  width: auto;
}
* {
  box-sizing: border-box;
}

/*****************
  EDITOR MENU
*****************/
#openEditorMenu {
  position: relative;
  background-color: #4a4a4a;
  padding: 8px 13px;
  border-radius: 5px 0 0 5px;
  color: #fff;
  cursor: pointer;
  order: 1;
}
#openEditorMenu::before,
#openEditorMenu::after {
  content: " ";
  position: absolute;
  right: 0;
  width: 10px;
  height: 10px;
  background: transparent;
}
#openEditorMenu::before {
  top: -10px;
  border-radius: 50% 0;
  box-shadow: 0px 5px 0 #4a4a4a;
}
#openEditorMenu::after {
  bottom: -10px;
  border-radius: 0 50%;
  box-shadow: 0px -5px 0 #4a4a4a;
}
#editorMenu {
  height: 100%;
  position: absolute;
  right: -50%;
  width: 50%;
  top: 0;
  box-shadow: 2px 0 0 #000 inset;
  background-color: #4a4a4a;
  color: #FFF;
  z-index: 99;
}
#editorMenu .editorMenuHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px 20px;
  z-index: 1;
  text-transform: uppercase;
  font-weight: bold;
}
#editorMenu #closeEditorMenu {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
#editorMenu #closeEditorMenu:hover {
  color:#4a90e2;
}
#editorMenu .editorActions {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#editorMenu .editorActions div {
  flex: 1 1 0;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid #5c5c5c;
  cursor: pointer;
  text-align: center;
}
#editorMenu .editorActions div:hover {
  color:#4a90e2;
}
#editorMenu .editorActions div:first-child {
  border-top: none;
}
#editorMenu .editorActions div span.fas,
#editorMenu .editorActions div span.far {
  font-size: 32px;
}
#editorMenu #saveUrl {
  display: none;
}
#editorMenu input[type=file] {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  opacity: 0;
  -moz-opacity: 0;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

/************************
  LAYOUT & GENERIC ELEMENTS
*************************/
#task {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: calc(100vh - 40px);
}
#taskContent {
  flex: 2 0 0;
  position: static !important;
  display: flex;
  justify-content: stretch;
}
h2.sectionTitle {
  font-size: 22px;
  font-weight: lighter;
  color: #4a90e2;
  margin: 0;
}
h2.sectionTitle .icon {
  color: #fff;
  background-color: #4a90e2;
  border-radius: 50%;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-size: 14px;
  vertical-align: text-bottom;
  margin-right: 10px;
}

/*****************
  TASK DESCRIPTION
*****************/
#taskIntro {
  padding: 10px 20px;
  overflow: auto;
  color: #9b9b9b;
}

/*****************
  TASK GRID & TESTS
*****************/
#grid {
  overflow: auto;
  max-width: 100vw;
  padding: 2em 0px;
}
#testSelector {
    padding-left: 10px;
}
.testResult {
    margin-left: 10px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 50px;
    color: #FFFFFF;
    width: 250px;
    font-size: 12px;
    font-weight: 500;
}
.testResult.testSuccess {
    background-color: green;
}
.testResult.testPartial {
    background-color: orange;
}
.testResult.testFailure {
    background-color: red;
}
.testResult.testEvaluating {
    background-color: purple;
}
.testResultIcon {
  display: inline-block;
  width: 21px;
  height: 21px;
  line-height: 21px;
}
.testResultIcon.testSuccess span {
  background: #b8e986;
  border-radius: 100%;
  color: #fff;
}
.testResultIcon.testPartial,
.testResultIcon.testFailure {
  color: #ff001f;
}

#gridButtonsAfter #testSelector {
  padding: 0;
}
#testSelector .tabs {
  display: flex;
  min-height: 24px;
  line-height: 24px;
  background-color: #f1f2f7;
  text-align: center;
}
#testSelector .tabs .testTab {
  flex: 1 0 auto;
  cursor: pointer;
  padding: 2px;
  text-transform: uppercase;
  position: relative;
}
#testSelector .testTab.currentTest {
  box-shadow: 0 1px 0 0px #ccc;
  color: #4a90e2;
  border-radius: 0 0 10px 10px;
  background-color: #fff;
  z-index: 1;
}
#testSelector .testTab.currentTest::before,
#testSelector .testTab.currentTest:not(:last-child)::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  background: transparent;
}
#testSelector .testTab.currentTest::before {
  top: -3px;
  border-radius: 0 70%;
  box-shadow: 0px 1px 0 #ccc inset;
  left: -10px;
  z-index: 1;
  border-top: 3px solid #fff;
  border-right: 6px solid #fff;
}
#testSelector .testTab.currentTest::after {
  top: -3px;
  border-radius: 70% 0;
  box-shadow: 0px 1px 0 #ccc inset;
  right: -10px;
  z-index: 1;
  border-top: 3px solid #fff;
  border-left: 6px solid #fff;
}
#testSelector .tabs .testTab:not(.currentTest) {
  box-shadow: 0 1px 0 0px #ccc inset;
  color: #ababac;
}

/*****************
  PLAYER CONTROLS
*****************/
#playerControls {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 10px;
  vertical-align: bottom;
  background-color: rgba(0,0,0,0.3);
  box-shadow:inset 0 1px 0 0 rgba(0,0,0,0.50);
  border-radius:15px;
}
.speedControls .icon span {
  padding: 5px 10px;
}
@media screen and (max-width: 480px) {
  #mode-player.displaySpeedSlider #playerControls,
  #mode-player.displaySpeedSlider > span.far,
  #mode-player.displaySpeedSlider > span.fas {
    display: none;
  }
  #mode-player:not(.displaySpeedSlider) #speedSlider {
    display: none;
  }
}
@media screen and (min-width: 481px) {
  .icon.displaySpeedSlider,
  .icon.hideSpeedSlider {
    display: none;
  }
}

/*****************
  SPEED CONTROLS
*****************/
#taskToolbar .mode:not(.active) .speedControls {
  display: none;
}
#taskToolbar .mode .speedControls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -4px;
  margin-bottom: -4px;
}
#speedSlider {
  background-color: rgba(0,0,0,0.3);
  box-shadow:inset 0 1px 0 0 rgba(0,0,0,0.50);
  border-radius:15px;
  display: flex;
}
#speedCursor {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 100px;
  margin-top: 6px;
}
/* Chrome */
#speedCursor::-webkit-slider-runnable-track {
  background-color: rgba(0,0,0,0.3);
  width: 100px;
  height: 5px;
  border-radius: 5px;
  margin-top: -6px;
}
#speedCursor::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 28px;
  border-radius: 100px;
  background-color: #4a90e2;
  margin-top: -7px;
  cursor: ew-resize;
}
#speedCursor:focus {
  outline: none;
}
#speedCursor:focus::-webkit-slider-runnable-track {
  background-color: rgba(0,0,0,0.3);
}
/* Firefox */
#speedCursor::-moz-range-track {
  height: 5px;
  background-color: rgba(0,0,0,0.3);
  border: none;
  border-radius: 5px;
}
#speedCursor::-moz-range-thumb {
  border: none;
  height: 20px;
  width: 28px;
  border-radius: 100px;
  background-color: #4a90e2;
  cursor: ew-resize;
}
/* Edge / IE10+ */
#speedCursor::-ms-track {
  width: 100px;
  height: 5px;
  background: transparent;
  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;
  /*remove default tick marks*/
  color: transparent;
}
#speedCursor::-ms-fill-lower {
  background: #f5a623;
  border-radius: 5px;
}
#speedCursor::-ms-fill-upper {
  background: rgba(0,0,0,0.3);
  border-radius: 5px;
}
#speedCursor::-ms-thumb {
  border: none;
  height: 20px;
  width: 28px;
  border-radius: 100px;
  background: #4a90e2;
  cursor: ew-resize;
}
#speedCursor:focus::-ms-fill-lower {
  background: #f5a623;
}
#speedCursor:focus::-ms-fill-upper {
  background: rgba(0,0,0,0.3);
}


/*****************
  CODE EDITOR
*****************/
#blocklyContainer {
  position: relative;
}
#blocklyLibContent {
  flex-grow: 0;
  width: 100%;
}

/* Editor Bar */
#editorBar {
  height: 30px;
  background-color: #fff;
}
#capacity {
  display: inline;
  line-height: 30px;
  padding-left: 10px;
}
.capacityRed {
  background-color: #E77471;
  color: black;
}

#fullscreenButton {
  float: right;
}
.scaleDrawingControl {
  display: none;
}
#testCaseName {
  padding-left: 20px;
  padding-right: 20px;
}
#messages {
  padding-top:10px;
    min-height: 28px;
}
#errors .testError {
  color: red;
}
.blocklyToolboxDiv {
    background-color: #ddd !important;
}

.blocklyFlyoutBackground {
    fill-opacity: 1 !important;
}
.blocklyDropDownDiv {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    display: none;
    border: 1px solid;
    border-radius: 4px;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, .3);
    padding: 4px;
    -webkit-user-select: none;
}
.blocklyDropDownContent {
    max-height: 300px;
    overflow: auto;
}
.blocklyDropDownArrow {
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    z-index: -1;
    background-color: inherit;
    border-color: inherit;
}
.blocklyDropDownButton {
    display: inline-block;
    float: left;
    padding: 0;
    margin: 4px;
    border-radius: 4px;
    outline: none;
    border: 1px solid;
    transition: box-shadow .1s;
    cursor: pointer;
}
.blocklyDropDownButtonHover {
    box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.1);
}
.blocklyDropDownButton:active {
    box-shadow: 0px 0px 0px 6px rgba(0,0,0,0.1);
}
.blocklyDropDownButton > img {
    width: 80%;
    height: 80%;
    margin-top: 5%
}
.blocklyDropDownPlaceholder {
    display: inline-block;
    float: left;
    padding: 0;
    margin: 4px;
}
.arrowTop {
    border-top: 1px solid;
    border-left: 1px solid;
    border-top-left-radius: 4px;
    border-color: inherit;
}
.arrowBottom {
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-bottom-right-radius: 4px;
    border-color: inherit;
}
.valueReportBox {
    min-width: 50px;
    max-width: 300px;
    max-height: 200px;
    overflow: auto;
    word-wrap: break-word;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: .8em;
}
.aceHighlight {
   position: absolute;
   background: rgba(100, 100, 200, 0.5);
   z-index: 20;
}

/*****************
  TASK TOOLBAR
*****************/
#taskToolbar {
  flex: 0 0 auto;
  z-index: 1;
  position: relative;
}
#taskToolbar::after {
  content: " ";
  position: absolute;
  top: 0;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.8) inset;
  height: 2px;
}
#taskToolbar .fas,
#taskToolbar .far {
  font-size: 18px;
}
#modeSelector {
  display: flex;
}
#modeSelector .mode {
  flex: 0 1 51px;
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #4a4a4a;
  color: #fff;
  position: relative;
}
#modeSelector .mode#mode-editor {
  justify-content: space-between;
}
#modeSelector .mode:not(.active) {
  justify-content: center;
}
#modeSelector .mode.active {
  background: #4a90e2;
  flex: 2 0 auto;
}
#modeSelector .mode.active::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 16px;
  border: 5px solid transparent;
  border-top-color: #f1f2f7;
  z-index: 1;
}
#modeSelector .mode:not(.active) + .mode:not(.active) {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 1px 0px 0px 0px #000 inset;
}
#modeSelector #mode-editor.mode #displayHelpBtn {
  background-color: rgba(0,0,0,0.3);
  border-radius: 50%;
  padding: 6px 9px;
  font-size: 13px;
  margin-top: -4px;
  margin-bottom: -3px;
}
#modeSelector #mode-editor.mode:not(.active) #displayHelpBtn {
  display: none;
}
#modeSelector #mode-editor.mode #displayHelpBtn .fas {
  font-size: 13px;
}

#modeSelector .mode .label {
  text-transform: uppercase;
  margin-left: 10px;
  font-weight: bold;
}
#modeSelector .mode:not(.active) .label {
  display: none;
}
#displayHelpBtn {
  border: 0;
  background-color: transparent;
  color: #fff;
}

/************************
  DISPLAY HELPER ELEMENTS
*************************/
#displayHelperAnswering {
  display: none;
}

/************************
  DISPLAY ERROR MESSAGES
*************************/
#errorMessage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f5a623;
  color: #fff;
  font-weight: bold;
  z-index: 1;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px 0px 0 2px #fff;
}
#errorMessage .messageWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
#errorMessage .messageWrapper .icon {
  width: 28px;
  margin: 0 10px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  background-color: rgba(0,0,0,0.20);
  border-radius: 50%;
}
#errorMessage .messageWrapper .message {
  flex: 1 1 auto;
  margin: 0;
}
#errorMessage .btn {
  position: absolute;
  top: 4px;
  right: 4px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: rgba(0,0,0,0.20);
}
#errorMessage .btn span {
  font-size: 16px;
}
.modalWrapper {
  display: none;
  z-index: 1000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #777;
  background-color: rgba(0,0,0,0.7);
  transition: all 250ms;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalWrapper .modal {
  width: 800px;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 20px;
  position: relative;
}
.modalWrapper .modalError {
  background: #fdd;
  border: 1px solid #caa;
  color: #600;
}
.modalWrapper .modal>.btn.close {
  font-size: 24px;
  font-weight: bold;
  line-height: 1em;
  color: #a7a6a6;
  position: absolute;
  top: 0px;
  right: 0px;
  border: none;
  background: none;
  cursor: pointer;
}
/*****************
  MODE PLAYER
*****************/
.mode-player #taskContent {
  flex-direction: column;
}
.mode-player #introGrid {
  flex: 1 0 auto;
  display: flex;
}
.mode-player #taskIntro {
  display: none;
}
.mode-player #gridContainer {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mode-player #blocklyLibContent {
  flex: 1 1 auto;
}


/* hide blockly toolbox for low res */
@media screen and (max-width: 800px) and (orientation: landscape) {
  .mode-player .blocklyToolboxDiv {
    display: none;
  }
}

@media screen and (max-width: 480px) and (orientation: portrait) {
  .mode-player .blocklyToolboxDiv {
    display: none;
  }
}

/*****************
  MODE INSTRUCTIONS
*****************/
.mode-instructions #blocklyLibContent {
  display: none;
}
.mode-instructions #taskContent {
}
.mode-instructions #introGrid {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.mode-instructions #taskIntro {
  order: 2;
  flex: 1 1 auto;
}
.mode-instructions #gridContainer {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (orientation: landscape) { /* horizontal screen layout */
  .mode-instructions #introGrid {
    flex-direction: row;
  }
}

/*****************
  MODE EDITOR
*****************/
.mode-editor #introGrid {
  display: none;
}
#gridContainer {
  background-color: #fff;
}
#blocklyDiv {
    width: 100%;
    height: 100%;
}
/************************
  MODAL POPUPS
*************************/
#conceptViewer .exit {
  cursor: pointer;
}
