#quickpiViewer {
    /*position: fixed;*/
    left: 0px;
    top: 0px;
    z-index: 100;
    width: 100%;
    height: 100%;
    overflow: auto;
    /*background: rgba(241, 242, 247, .9);*/
}
#quickpiViewer .content {
    /*position: absolute;
    top: calc(51% - (90vh / 2));
    left: calc(50% - (90vw / 2));*/
    
    /*width: 90vw;
    height: 90vh;*/

    width: 620px;
    height: 640px;
    


    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
#quickpiViewer .panel-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
#quickpiViewer .section-external-exit {
    display: inline-flex;
}
#quickpiViewer .exit {
    cursor: pointer;
    margin: 0 3px 0 16px;
}
#quickpiViewer .exit .icon {
    font-size: 18px;
    color: #4a90e2;
}
#quickpiViewer .panel-body {
    display: flex;
    justify-content: stretch;
    height: 100%;
    min-height: 0;
}
@media screen and (min-width: 481px){
    #quickpiViewer .navigationContent {
        overflow-x: hidden;
        overflow-y: auto;
        height: 100%;
    }
}
#quickpiViewer .navigation {
    border-right: 1px solid rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

#quickpiViewer .navigationLanguage {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 10px;
}
#quickpiViewer .navigationLanguage {
    position: relative;
}
#quickpiViewer .showNavigationLanguage {
    display: block;
    background-color: #4a90e2;
    color: #fff;
    line-height: 20px;
    padding: 5px 20px;
    border-radius: 50px;
    position: relative;
    margin-left: 50px;
}
#quickpiViewer .showNavigationLanguage::before {
    content: "\f121";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 20px;
    margin: 0 15px;
    color: #4a90e2;
    position: absolute;
    left: -55px;
}
@media screen and (orientation: landscape) and (max-width: 768px) {
    #quickpiViewer .showNavigationLanguage {
        margin-left: 0;
    }
    #quickpiViewer .showNavigationLanguage::before {
        content: normal;
    }
}
#quickpiViewer .showNavigationLanguage::after {
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    right: 10px;
}
#quickpiViewer .navigationLanguage ul {
    position: absolute;
    width: calc(100% - 4px);
    list-style-type: none;
    background-color: #fff;
    margin: 0;
    padding: 0;
    left: 2px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    visibility: hidden;
    opacity: 0;
    transition: opacity linear 150ms 25ms;
    z-index: 1;
}
#quickpiViewer #showNavigationLanguage:checked + ul {
    visibility: visible;
    opacity: 1;
}
#quickpiViewer .navigationLanguage ul li {
    line-height: 2em;
    padding: 0 20px;
    display: block;
    cursor: pointer;
}
#quickpiViewer .navigationLanguage ul li.selected {
    background-color: #4a90e2;
    color: #fff;
}
#quickpiViewer .navigationContent ul {
    list-style-type: none;
    margin: 1em 0 0;
    padding: 0;
}
#quickpiViewer .navigationContent ul li {
    line-height: 3em;
    padding: 0 20px;
    cursor: pointer;
}
#quickpiViewer .navigationContent ul li.selected {
    background-color: #4a90e2;
    color: #fff;
}
#quickpiViewer #showNavigationLanguage,
#quickpiViewer .showNavigationContent,
#quickpiViewer #showNavigationContent {
    display: none;
}
@media screen and (max-width: 480px) and (orientation: portrait) {
    #quickpiViewer .panel-body {
        flex-direction: column;
    }
    #quickpiViewer .navigation {
        border: none;
    }
    #quickpiViewer .navigationContent {
        border-bottom: 1px solid rgba(0,0,0,0.1);
        padding: 10px;
    }
    #quickpiViewer .navigationContent {
        position: relative;
    }
    #quickpiViewer .showNavigationContent {
        display: block;
        background-color: #4a90e2;
        color: #fff;
        line-height: 20px;
        padding: 5px 20px;
        border-radius: 50px;
        position: relative;
        margin-left: 50px;
    }
    #quickpiViewer .showNavigationContent::before {
        content: "\f03a";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 20px;
        margin: 0 15px;
        color: #4a90e2;
        position: absolute;
        left: -55px;
    }
    #quickpiViewer .showNavigationContent::after {
        content: "\f107";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        position: absolute;
        right: 10px;
    }
    #quickpiViewer .navigationContent ul {
        position: absolute;
        width: calc(100% - 4px);
        list-style-type: none;
        background-color: #fff;
        margin: 0;
        padding: 0;
        left: 2px;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
        visibility: hidden;
        opacity: 0;
        transition: opacity linear 150ms 25ms;
    }
    #quickpiViewer #showNavigationContent:checked + ul {
        visibility: visible;
        opacity: 1;
    }
    #quickpiViewer .navigationContent ul li {
        line-height: 2em;
    }
}
#quickpiViewer .viewer {
    flex-grow: 1;
}
#quickpiViewer .viewerContent { /* iframe */
    width: 100%;
    height: 100%;
    border: none;
}
#quickpiViewer.quickpiViewer-fullscreen .content {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#quickpiViewer.quickpiViewer-fullscreen .section-external-exit {
    display: none;
}

#quickpiViewer .viewerInlineContent {
    margin: 15px;
}
/*
.connectPi {
    width: 80vh;
    height: 80vh;
}*/


#popupMessage .qpi .hiddenContent {
	display: none !important;
}



.sensorElement {
  text-align: center;
  display: inline-block;
  width: 150px;
  height: 150px;
  position: relative;
}

.sensorImage {
  max-width: 100px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sensorInfo {
  max-width: 100px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
}
