.task-video .introduction {
    margin: 20px 0;
}

.task-video .video {

}

.task-video .sections .section {
    cursor: pointer;
    padding: 5px 0;
}

.task-video .sections .section:hover,
.task-video .sections .active {
    background: #DEF;
}

.task-video .section .title {
    font-weight: bold;
}

.task-video .section .description {
    color: #999;
}

.task-video .sections .viewed .title:after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 12px;
    border: solid #060;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    margin-left: 10px;
}

.task-video .conclusion {
    margin: 20px 0;
}