.task-video .introduction {
    margin: 20px 0;
}

.task-video .video {

}

.task-video .sections .section {
    margin-bottom: 5px;
}

.task-video .section .title {
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
}

.task-video .section .title .duration {
    float: right;
}

.task-video .section .title:hover,
.task-video .sections .active .title {
    background: #DEF;
}

.task-video .section .description {
    padding: 5px;
    color: #999;
}

.task-video .time-link {
    color: #36F;
    cursor: pointer;
}

.task-video .sections .viewed .title:after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 12px;
    border: solid #060;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    margin-left: 10px;
}

.task-video .conclusion {
    margin: 20px 0;
}


