html {
   --header-col: lightGrey;
}

#mainPage {
   border: 1px solid black;
   padding: 20px;
   display: flex;
   justify-content: space-between;
   overflow: hidden;
}

#mainPage h3 {
   height: 30px;
   text-align: center;
   margin: 0;
}

/*** TABLES ***/

#mainPage table {
   table-layout: fixed;
   border-collapse: collapse;
   border: 3px solid black;
   width: 100%;
}

#mainPage th, td {
   height: 30px;
   border: 1px solid black;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

#mainPage th {
   background: var(--header-col);
}
#transaction_table_cont {
   overflow-y: auto;
}
#transaction_table .block_header .timestamp {
   margin-left: 20px;
}
#accounts_table,
#smartContractsCont {
   margin-bottom: 20px;
}
#mem_pool_table {
   margin-top: 20px;
}

#mem_pool_table td, 
#transaction_table td,
#sub_transaction_table td {
   text-align: center;
   background: white;
}

#mem_pool_table .col_3,
#sub_transaction_table .col_3,
 #transaction_table .col_3 {
   white-space: nowrap;
}

#accounts_table .col_0 {
   width: 20%;
   text-align: center;
}

#accounts_table .col_2 {
   width: 40%;
   text-align: center;
}

#smart_contracts_table td {
   text-align: center;
}
#mainPage table#sub_transaction_table {
/*   width: auto;*/
   table-layout: auto;
}
#sub_transaction_table th,
#sub_transaction_table td {
   min-width: 100px;
   max-width: 150px;
}

/*** BUTTONS ***/

#buttons {
   display: flex;
   flex-direction: column;
   gap: 20px;
}

#mainPage button {
   width: 100%;
}

/*** VIEW ***/

#view, #simView, #subView  {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

#back, #simBack, #subBack {
   background: black;
   opacity: 0.5;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}

.view {
   background: white;
   z-index: 2;
   /*position: absolute;
   transform: translate(-50%,-50%);
   left: 50%;
   top: 50%;*/
   max-height: 100%;
   max-width: 100%;
   width: fit-content;
   overflow: auto;
   white-space: nowrap;
}

.view #header {
   border: solid black 1px;
   padding: 10px 20px;
   font-weight: bold;
}
.view #header .icon {
   float: right;
}
.view #content {
   border: solid black 1px;
   padding: 10px;
}

.view #content .line {
   padding: 5px 10px;
   margin: 0;
}
.view #content .error {
   border: 1px solid red;
   border-radius: 5px;
   background-color: rgb(255,120,120);
   margin: 20px 0;
   white-space: normal;
}
.view #content .line .label {
   margin-right: 5px;
}
.view #content .line .parameter {
   margin-left: 20px;
}
.view #content #storage_change {
   padding-left: 20px;
}
.view #content .ep_cont {
   border: 1px solid black;
   border-radius: 5px;
   background: lightgrey;
   padding: 10px;
}
#simView #header .icon {
   display: none;
}
#simView #buttons {
   margin-top: 10px;
   display: flex;
   flex-direction: row;
}
.view .signature {
   margin: 10px 0;
   padding: 5px 10px;
   display: flex;
   justify-content: space-between;
}
.view .unsigned {
   border: 1px solid red;
   border-radius: 5px;
   background-color: rgb(255,120,120);
}
.view .signed {
   border: 1px solid green;
   border-radius: 5px;
   background-color: rgb(120,255,120);
}
#view button {
   margin-top: 10px;
}

.view#view_contract {
   max-width: 100%;
}
.view#view_contract #content {
   border: solid black 1px;
   display: flex;
   padding: 0;
}
.view#view_contract #content > * {
   padding: 10px;
   overflow: auto;
}
.view#view_contract #content1 {
   background: lightgrey;
   flex-shrink: 1;
}
.view#view_contract #content2 {
   flex-shrink: 2;
}
.view#view_contract .storage_line {
   padding: 0 20px;
   margin: 5px 0;
   white-space: nowrap;
}
.view#view_contract .level_1 {
   padding: 0 30px;
}
.view#view_contract .level_2 {
   padding: 0 40px;
}
.view#view_contract h4 {
   margin-top: 0;
   margin-bottom: 10px;
}
.view#view_contract .text {
   margin: 0;
   padding: 5px 10px;
   tab-size: 20px;
/*   white-space: pre-wrap;*/
   width: fit-content;
}
.view#view_contract .text ul {
   margin-top: 5px;
}
.view#view_contract .entrypoint,
.view#view_contract .sc_view {
   font-family: monospace;
}
.view#view_contract .entrypoint:hover {
   background: lightgreen;
}
.view#view_contract .sc_view:hover {
   background: lightblue;
}

.view#sc_view {
   min-width: 30%;
   max-width: 100%;
}
#simView #sc_view #header .icon  {
   display: block;
}
.view#sc_view .content {
   padding: 20px;
   border: solid 1px black;  
}
.view hr {
   border-top: 1px solid grey;
   border-bottom: none;
   border-left: none;
   border-right: none;
   width: 90%;
}
.view .input {
   width: 100px;
}

/*** FORM ***/

.form {
   width: auto;
}

.form #header{
   text-align: center;
}

.form #content {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.form #content .field {
   margin: 0;
   padding: 10px;
   display: flex;
   justify-content: space-between;
   gap: 20px;
   align-items: center;
}
.form #content button#sign {
   margin-top: 0;
   margin-bottom: 10px;
   max-width: 150px;
   align-self: center;
}
.form #content .field .input {
   width: 100px;
}
.form #content #buttons {
   padding-top: 10px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}
.form #content #buttons button {
   width: 100px;
}

.form .highlight,
.view .highlight {
   border: 2px solid red;
   border-radius: 5px;
   background: rgba(255,0,0,0.2);
}
