html {
   --header-col: lightGrey;
}

#mainPage {
   border: 1px solid black;
   padding: 20px;
   display: flex;
   justify-content: space-between;
   overflow: hidden;
}

#mainPage h3 {
   height: 30px;
   text-align: center;
   margin: 0;
}

/*** TABLES ***/

#mainPage table {
   table-layout: fixed;
   border-collapse: collapse;
   border: 3px solid black;
   width: 100%;
}

#mainPage th, td {
   height: 30px;
   border: 1px solid black;
   overflow: hidden;
   text-overflow: ellipsis;
}

#mainPage th {
   background: var(--header-col);
}
#transaction_table_cont {
   overflow-y: auto;
}
#transaction_table .block_header .timestamp {
   margin-left: 20px;
}
#transaction_table_cont,
#accounts_table {
   margin-bottom: 20px;
}

#mem_pool_table td, 
#transaction_table td {
   text-align: center;
}

#accounts_table .col_0 {
   padding-left: 10px;
}

#accounts_table .col_1 {
   width: 30%;
   text-align: center;
}

/*** BUTTONS ***/

#buttons {
   display: flex;
   flex-direction: column;
   gap: 20px;
}

#mainPage button {
   width: 100%;
}

/*** VIEW ***/

#view, #simView {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}

#back, #simBack {
   background: black;
   opacity: 0.5;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}

.view {
   background: white;
   position: absolute;
   transform: translate(-50%,-50%);
   left: 50%;
   top: 50%;
}
.view#view_account {
   width: 470px;   
}
.view #header {
   border: solid black 1px;
   padding: 10px 20px;
   font-weight: bold;
}
.view #header .icon {
   float: right;
}
.view #content {
   border: solid black 1px;
   padding: 10px;
}
.view #content .line {
   padding: 5px 10px;
   margin: 0;
   overflow: hidden;
   text-overflow: ellipsis;
}
.view #content .line .label {
   margin-right: 5px;
}
#simView #header .icon {
   display: none;
}
#simView #buttons {
   margin-top: 10px;
   display: flex;
   flex-direction: row;
}
#view button {
   margin-top: 10px;
}

/*** FORM ***/

.form {
   width: auto;
}

.form #header{
   text-align: center;
}

.form #content {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.form #content .field {
   margin: 0;
   padding: 10px;
   display: flex;
   justify-content: space-between;
   gap: 20px;
   align-items: center;
}
.form #content .field button {
   margin: 0;
}
.form #content .field .input {
   width: 100px;
}
.form #content #buttons {
   padding-top: 10px;
   display: flex;
   flex-direction: row;
}
.form #content #buttons button {
   width: 100px;
}

.form .highlight {
   border: 2px solid red;
   border-radius: 5px;
   background: rgba(255,0,0,0.2);
}
