.map2d {
    position: relative;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.map2d img.map {
    position: absolute;
    z-index: 10;
}

.map2d canvas.editor {
    position: absolute;
    z-index: 20;
}

.map2d .toolbar {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 45px;
    z-index: 30;
}

.map2d .toolbar .group {
    margin: 0 10px 5px 0;
    float: left;
}

.map2d .toolbar .button {
    cursor: pointer;
    float: left;
    color: #000;
    background: #fff;
    border: 1px solid #000;
    padding: 5px 10px;
    margin-right: -1px;
}

.map2d .toolbar .button:hover {
    background: #ddd;
}

.map2d .toolbar .button-selected,
.map2d .toolbar .button-selected:hover {
    color: #fff;
    background: #333;
}

.map2d .toolbar .button-disabled,
.map2d .toolbar .button-disabled:hover {
    color: #ccc;
}

.map2d .toolbar .button:first-child {
    border-radius: 5px 0 0 5px;
}

.map2d .toolbar .button:last-child {
    border-radius: 0 5px 5px 0;
}


.map2d .zoom {
    position: absolute;
    z-index: 30;
    top: 10px;
    right: 10px;   
}

.map2d .zoom .button {
    cursor: pointer;
    color: #000;
    background: #fff;
    border: 1px solid #000;    
    padding: 5px 10px;
    text-align: center;
    margin-bottom: -1px;
}

.map2d .zoom .button:hover {
    background: #ddd;
}

.map2d .zoom .button-disabled {
    color: #ccc;
}

.map2d .zoom .button:first-child {
    border-radius: 5px 5px 0 0 ;
}

.map2d .zoom .button:last-child {
    border-radius: 0 0 5px 5px;
}