<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>map2d</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="styles.css">
        
        <script src="../../../ext/jquery/2.1/jquery.min.js"></script>
        
        <script src="map2d.js"></script>
        <style>
            html, 
            body {
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
            }
        </style>
    </head>
    <body>
        <div id="map" style="left: 25%; top: 15%; right: 25%; bottom: 15%; border: 1px solid red; position: fixed;"></div>
        <script>
            var map2d = Map2D({
                parent: document.getElementById('map'),
                url: 'map_lowres.jpg',
                //url: 'map.jpg',
                zoom: 1,

                figures: [
                    { 
                        type: 'point',
                        points: [
                            { x: 25, y: 50 }
                        ],
                        name: 'Point 1'
                    },
                    { 
                        type: 'point',
                        points: [
                            { x: 25, y: 75 }
                        ],
                        name: 'Point 2'
                    },
                    { 
                        type: 'point',
                        points: [
                            { x: 25, y: 100 }
                        ],
                        name: 'Point 3'
                    },
                    {
                        type: 'line',
                        points: [
                            { x: 50, y: 50 },
                            { x: 75, y: 75 },
                            { x: 100, y: 50 },
                            { x: 125, y: 75 },
                            { x: 150, y: 50 }
                        ],
                        name: 'Line 1'
                    },
                    {
                        type: 'area',
                        points: [
                            { x: 100, y: 125 },
                            { x: 125, y: 150 },
                            { x: 150, y: 150 },
                            { x: 175, y: 125 },
                        ],
                        name: 'Area 1'
                    }
                ]                

            });
        </script>
    </body>
</html>