<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>zen3d - earth</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<style>
		#view {
			width: 400px;
			height: 400px;
			background: #ffffff;
		}
	</style>
	<script src="../../../ext/zen3d/zen3d.js"></script>
	<script src="../../../ext/zen3d/controls/OrbitControls.js"></script>
	<script src="../../../ext/zen3d/objects/Sprite.js"></script>
	<script src="earth3d.js"></script>
</head>
<body>
	<div>
		<label>Lat: </label>
		<input type="text" id="lat" value="45"/>
	</div>
	<div>
		<label>Lng: </label>
		<input type="text" id="lng" value="45"/>
	</div>	
	<div>
		<label>Opacity: </label>
		<input type="text" id="opacity" value="50"/>
	</div>		
	<button id="refresh">Refresh</button>
	
	<div id="view"></div>	
	<div id="coordinates"></div>			

	<script>
		function showCoordinates(point) {
			document.getElementById('coordinates').innerHTML = 'Lat: ' + point.lat + ' Lng: ' + point.lng;
		}
	

		function refresh() {
			function getValue(id, min, max) {
				var el = document.getElementById(id);
				var v = Math.floor(el.value) || 0;
				v = Math.min(v, max);
				v = Math.max(v, min);
				el.value = v;
				return v;
			}
			earth.setCursor({
				lat: getValue('lat', -90, 90), 
				lng: getValue('lng', -180, 180)
			});
			earth.setOpacity(
				getValue('opacity', 0, 100) / 100
			);
		}
		document.getElementById('refresh').addEventListener('click', refresh, false);


		var earth = Earth3D({
			parent: document.getElementById('view'),

			// initial position of cursor, if false then cursor is hidden. optional
			cursor: {
				lat: 20,
				lng: 20
			},
			// points and labels, optional
			labels: [
				{
					text: 'Label text 1',
					lat: 54.326967,
					lng: 48.4237641					
				},
				{
					text: 'Label text 2',
					lat: 25,
					lng: 40	
				},				
				{
					text: 'Label text 3',
					lat: -5,
					lng: 20
				},								
			],
			// grid steps for lat and lng, optinal
			grid: {
				lat: 15,
				lng: 30
			},
			// initial camera position, optional
			camera: {
				lat: 30,
				lng: 30
			},
			// all evens are optional
			events: {
				onLoad: refresh,
				onMouseMove: showCoordinates
			}
		});		
	</script>
</body>
</html>